
:root{

    --ff-primary: 'Source Sans Pro', sans-serif;

    --boxs: 0.25em 0.25em 1em rgba(0,0,0,.35),
    0.25em 0.25em 1em rgba(0,0,0,.35);

    --fw-reg: 300;
    --fw-bold: 900;

    --color-dark: #191919;
    --color-light: #E6E8E6;


}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100vh;
    background: url(Images/img1.jpg);
    background-size: cover;        
    background-repeat: no-repeat;
    flex-direction: column;
}

.display{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5em;
    justify-content: space-evenly;
    width: 100%;
    height: 100% ;
}

.searchBox {
    background: #2f3640c1;
    height: 40px;
    border-radius: 40px;
}

::placeholder{
    color: var(--color-light);
}

.searchBox:hover > .searchInput {
    width: 240px;
    padding: 0 6px;
}

input:not(:placeholder-shown) {
    width: 240px;
    padding: 0 6px;
}

.searchButton {
    color: white;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #2f3640c1;
    transition: 0.4s;
}

.searchInput {
    border:none;
    background: none;
    outline:none;
    float:left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;

}

.error_msg{
    position: absolute;
    top: 35%;
    color: #E6E8E6;
    background-color: var(--color-dark);
    padding: 2em;
    opacity: 0.8;
    border-radius: 20px;
}

.weather{
    display: flex;
    flex-direction: column;
    font-size: larger;
    flex-wrap: wrap;
    max-height: 450px;
    background: var(--color-dark);
    opacity: 0.7;
    color:white;
    padding: 2.5em;
    width: 100%;
    max-width: 450px;
    border-radius: 20px;
    margin: 1em;
    font-family: var(--ff-primary);
}

.weather-item{
    margin: .3em;
}

#icon{
    width: 55px;
}

.clock{
    font-size: x-large;
    align-self: flex-end;
    margin-right: 7px;
}

.costumize{
    margin: 2em;
    padding: 1em;
    border-radius: 15px;
    font-family: var(--ff-primary);
}

.btn{
    width: 180px;
    margin: 0 auto;
}

@media screen and (max-width: 620px) {

    .weather{
        max-width: 400px;
    }

    .searchBox > .searchInput {
        width: 140px;
        padding: 0 6px;
    }

    .searchBox:hover > .searchInput {
        width: 140px;
        padding: 0 6px;
    }
}

@media(max-width: 450px){

    .weather{
        max-width: 350px;
        padding-left: 1em;
    }

    .weather-item{
        margin: .6em;
        font-size: smaller;
        font-weight: bold;
        text-shadow: var(--boxs);
    }

    .searchBox:hover > .searchInput {
        width: 120px;
        padding: 0 6px;
    }

}

.loader-div {
	position: fixed;
	top: 0;
	left: 0;
	background-color: #333;
	height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.loader {
	position: relative;
	width: 10vw;
	height: 5vw;
	padding: 1.5vw;
	display: flex;
	align-items: center;
	justify-content: center;
}

.loader span {
	height: 0.8vw;
	width: 0.8vw;
	border-radius: 50%;
	background-color: rgb(41, 182, 116);
}

.loader span:nth-child(1) {
	animation: loading-dotsA 0.5s infinite linear;
}

.loader span:nth-child(2) {
	animation: loading-dotsB 0.5s infinite linear;
}

@keyframes loading-dotsA {
	0% {
		transform: none;
	}
	25% {
		transform: translateX(2vw);
	}
	50% {
		transform: none;
	}
	75% {
		transform: translateY(2vw);
	}
	100% {
		transform: none;
	}
}

@keyframes loading-dotsB {
	0% {
		transform: none;
	}
	25% {
		transform: translateX(-2vw);
	}
	50% {
		transform: none;
	}
	75% {
		transform: translateY(-2vw);
	}
	100% {
		transform: none;
	}
}



